# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 2. Pemrosesan Awal Data



### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi **wget** untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [22]:
! wget https://dataset-ppm.s3.amazonaws.com/iris_missing.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi [readcsv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) dari library pandas. Lakukan pembacaan berkas csv menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [23]:
import pandas as pd
import numpy as np


df = pd.read_csv('iris_missing.csv')

Tampilkan beberapa baris dari dataset untuk mendapatkan informasi singkat mengenai isi data. Gunakan fungsi **head()** untuk menampilkan 5 data pertama.

In [24]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           0.0          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Berdasarkan informasi dari fungsi **head()**, data iris yang 
digunakan mempunyai 4 fitur sebagai berikut :


1.   sepal length
2.   sepal width
3.   petal length
4.   petal width

### 2) Missing value dan imputasi data




Jika Anda perhatikan dengan seksama, data pada baris ke-3 (index 2) pada fitur sepal length memiliki nilai 0.0. Hal ini menandakan adanya missing value pada data. Jalankan cell di bawah ini untuk mendapatkan semua data yang mengandung missing value. Pencarian data yang mengandung missing value dilakukan dengan tahapan sebagai berikut:


1.   Membuat filter untuk mencari data dengan sepal_length = 0, sepal_width = 0, petal_length = 0, petal_width =0
2.   Mencari data yang memenuhi kondisi1 **atau** kondisi2 **atau** kondisi3 **atau** kondisi4 menggunakan property [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) pada dataframe

In [25]:
condition1 = df['sepal_length'] == 0.0
condition2 = df['sepal_width'] == 0.0
condition3 = df['petal_length'] == 0.0
condition4 = df['petal_width'] == 0.0

df.loc[condition1 | condition2 | condition3 | condition4]

     sepal_length  sepal_width  petal_length  petal_width          Species
2             0.0          3.2           1.3          0.2      Iris-setosa
11            0.0          3.4           1.6          0.2      Iris-setosa
32            5.2          0.0           1.5          0.1      Iris-setosa
47            4.6          3.2           0.0          0.2      Iris-setosa
51            6.4          0.0           4.5          1.5  Iris-versicolor
65            6.7          3.1           4.4          0.0  Iris-versicolor
67            5.8          2.7           0.0          1.0  Iris-versicolor
86            6.7          0.0           4.7          1.5  Iris-versicolor
107           0.0          2.9           6.3          1.8   Iris-virginica
112           6.8          3.0           0.0          2.1   Iris-virginica
113           5.7          2.5           5.0          0.0   Iris-virginica
139           6.9          3.1           5.4          0.0   Iris-virginica
145           6.7          3.0           5.2          0.0   Iris-virginica

In [26]:
condition1 = df.iloc[:,0] == 0.0
condition2 = df.iloc[:,1] == 0.0
condition3 = df.iloc[:,2] == 0.0
condition4 = df.iloc[:,3] == 0.0

df[condition1 | condition2 | condition3 | condition4]

     sepal_length  sepal_width  petal_length  petal_width          Species
2             0.0          3.2           1.3          0.2      Iris-setosa
11            0.0          3.4           1.6          0.2      Iris-setosa
32            5.2          0.0           1.5          0.1      Iris-setosa
47            4.6          3.2           0.0          0.2      Iris-setosa
51            6.4          0.0           4.5          1.5  Iris-versicolor
65            6.7          3.1           4.4          0.0  Iris-versicolor
67            5.8          2.7           0.0          1.0  Iris-versicolor
86            6.7          0.0           4.7          1.5  Iris-versicolor
107           0.0          2.9           6.3          1.8   Iris-virginica
112           6.8          3.0           0.0          2.1   Iris-virginica
113           5.7          2.5           5.0          0.0   Iris-virginica
139           6.9          3.1           5.4          0.0   Iris-virginica
145           6.7          3.0           5.2          0.0   Iris-virginica

Penanganan missing value pada Pandas akan lebih mudah apabila data yang hilang (bernilai 0.0) diganti dengan NaN (Not A Number). Gunakan properti **replace** pada dataframe untuk menggganti 0.0 menjadi NaN

In [27]:
df = df.replace(0.0, np.NaN)

Terdapat beberapa cara untuk mengatasi permasalahan missing value pada data. Salah satu cara yang sederhana adalah dengan mengganti nilai NaN pada suatu fitur dengan rata-rata nilai fitur tersebut pada data lain yang bernilai bukan Nan. Perhatikan bahwa Anda harus mengganti nilai NaN dengan rata-rata data lain yang memiliki kategori (species) yang sama.

Fungsi-fungsi pada Pandas yang dapat Anda manfaatkan:


1.   **transform** untuk mengaplikasikan fungsi tertentu pada dataframe, pada permasalahan ini fungsi yang digunakan adalah fungsi **mean**
2.   **groupby** untuk mengelompokkan dataframe berdasarkan nilai kolom tertentu, pada permasalahan ini kolom yang digunakan adalah **species**
3. **fillna** untuk mengganti nilai NaN dengan nilai yang telah ditentukan




Buatlah fungsi bernama **imputasi** yang melakukan tahapan berikut:


1.   Menghitung rata-rata masing-masing kolom berdasarkan kelasnya
2.   Mengisi kolom yang berisi NaN dengan rata-rata kelas yang sesuai

In [28]:
def imputation(df_input):
  list_columns = df_input.columns
  class_columns = list_columns[-1]
  
  for column in list_columns[:-1]:
    df_input[column] = df_input[column].fillna(df_input.groupby(class_columns)[column].transform('mean'))

  return df_input

Buatlah sebuah dataframe baru bernama **data_imputasi** yang berisi dataset dengan nilai NaN yang sudah diganti dengan cara memanggil fungsi **imputasi**.

In [29]:
df_imputation = imputation(df)

Cek apakah masih terdapat nilai NaN pada dataframe.

In [30]:
df_imputation.isnull().values.any()

False

### 3) Normalisasi MinMax
Normalisasi bertujuan menyamakan rentang nilai pada setiap fitur. Beberapa metode pembelajaran mesin memiliki kinerja yang buruk apabila rentang nilai tiap variabel berbeda jauh.

Sebelum melakukan normalisasi, cek terlebih dahulu rentang (nilai max - nilai min) pada masing masing fitur

In [31]:
def print_range(df_input):
  list_columns = df_input.columns[:-1]
  for column in list_columns:
    max = df_input[column].max()
    min = df_input[column].min()
    range = max - min
    print(f'{column} range: {range}')

In [32]:
print_range(df_imputation)

sepal_length range: 3.6000000000000005
sepal_width range: 2.4000000000000004
petal_length range: 5.9
petal_width range: 2.4

Terlihat bahwa masing-masing fitur memiliki rentang yang berbeda, meskipun tidak terlalu signifikan. Pada praktikum ini Anda akan mengimplementasikan normalisasi MinMax untuk menyamakan rentang setiap fitur menjadi satu (1). Persamaan dari fungsi normalisasi MinMax adalah sebagai berikut:

$x'=\frac{x-min(x)}{max(x)-min(x)}$

dimana $x'$ merupakan nilai ternormalisasi, $x$ adalah nilai asal, $min(x)$ merupakan nilai minimum pada suatu fitur, dan $max(x)$ merupakan nilai maksimum pada suatu fitur.

Implementasikan metode normalisasi MinMax pada fungsi bernama **minmax**.

In [33]:
def minmax(df_input):
  list_columns = df_input.columns[:-1]
  for column in list_columns:
    max = df_input[column].max()
    min = df_input[column].min()
    df_input[column] = (df_input[column] - min) / (max - min)
  return df_input

Buatlah sebuah dataframe baru bernama **data_normal** yang berisi hasil dari metode minmax dengan input **data_imputasi**

In [34]:
df_normal = minmax(df_imputation)

Cek 5 baris pertama **data_normal**

In [35]:
df_normal.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0      0.222222     0.625000      0.067797     0.041667  Iris-setosa
1      0.166667     0.416667      0.067797     0.041667  Iris-setosa
2      0.199074     0.500000      0.050847     0.041667  Iris-setosa
3      0.083333     0.458333      0.084746     0.041667  Iris-setosa
4      0.194444     0.666667      0.067797     0.041667  Iris-setosa

Tampilkan rentang masing-masing fitur menggunakan fungsi **cetak_rentang** yang telah dibuat

In [36]:
print_range(df_normal)

sepal_length range: 1.0
sepal_width range: 1.0
petal_length range: 1.0
petal_width range: 1.0

In [37]:
df_normal.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       0.428346     0.436452      0.467774     0.456894
std        0.227052     0.178985      0.299213     0.316362
min        0.000000     0.000000      0.000000     0.000000
25%        0.222222     0.333333      0.101695     0.083333
50%        0.416667     0.416667      0.567797     0.500000
75%        0.583333     0.541667      0.694915     0.708333
max        1.000000     1.000000      1.000000     1.000000

## TUGAS
1. Implementasikan metode normalisasi Z-score dengan cara membuat fungsi bernama **zscore**.
2. Normalisasikan dataframe **data_imputasi** menggunakan fungsi **zscore**. Simpan hasilnya pada dataframe bernama **data_zscore**.
3. Jelaskan perbedaan hasil normalisasi **MinMax** dan **ZScore**. Petunjuk : cek nilai rentang, rata-rata dan standar deviasi dari **data_zscore**.

In [38]:
def zscore(df_input):
  list_columns = df_input.columns[:-1]
  for column in list_columns:
    mean = df_input[column].mean()
    std = df_input[column].std()
    df_input[column] = (df_input[column] - mean) / std
  
  return df_input

In [39]:
df_zscore = zscore(df_imputation)

In [40]:
print_range(df_zscore)

sepal_length range: 4.40427407175924
sepal_width range: 5.587057312242887
petal_length range: 3.342099429860446
petal_width range: 3.160938725348725

In [41]:
df_zscore.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0     -0.907825     1.053430     -1.336763    -1.312509  Iris-setosa
1     -1.152507    -0.110540     -1.336763    -1.312509  Iris-setosa
2     -1.009776     0.355048     -1.393408    -1.312509  Iris-setosa
3     -1.519530     0.122254     -1.280117    -1.312509  Iris-setosa
4     -1.030166     1.286224     -1.336763    -1.312509  Iris-setosa

In [42]:
df_zscore.describe()

       sepal_length   sepal_width  petal_length   petal_width
count  1.500000e+02  1.500000e+02  1.500000e+02  1.500000e+02
mean   2.368476e-16  2.842171e-16  1.421085e-16  4.736952e-17
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -1.886553e+00 -2.438481e+00 -1.563346e+00 -1.444215e+00
25%   -9.078253e-01 -5.761283e-01 -1.223471e+00 -1.180803e+00
50%   -5.143868e-02 -1.105402e-01  3.342870e-01  1.362546e-01
75%    6.826070e-01  5.878419e-01  7.591302e-01  7.947835e-01
max    2.517721e+00  3.148577e+00  1.778754e+00  1.716724e+00

Tuliskan jawaban pertanyaan nomor 3 **di sini**

Jadi perbedaan yang terdapat pada hasil normalisasi menggunakan Z-Score dan MinMax, yaitu
- Memiliki hasil rata-rata yang berbeda tiap fiturnya
- Memiliki rentang yang berbeda
- Memiliki standar deviasi yang berbeda.

Z-score mengukur berapa banyak stardar deviasi yang ada di atas ataupun di bawah nilai rata-rata dari suatu data. Z-score bertujuan untuk melakukan normalisasi pada data dimana akan menghasilkan nilai 0 pada rata-rata dan 1 pada standar deviasi

Bisa dilihat pada hasil describe data (z_score) di atas bahwa rata-rata dari setiap fitur merupakan 0 dan standar deviasinya adalah 1.

Apabila dirangkum maka terdapat beberapa perbedaan antara metode min-man dan z-score
1. Rentang nilai:
- Z-score: Menghasilkan data dengan mean 0 dan standar deviasi 1. Rentang nilai tidak terdefinisi, data dapat memiliki nilai negatif dan positif.
- Min-Max: Menghasilkan data dengan rentang nilai antara 0 dan 1.
2. Sensitivitas terhadap outlier:
- Z-score: Sangat sensitif terhadap outlier, karena outlier dapat mengubah mean dan standar deviasi secara signifikan.
- Min-Max: Kurang sensitif terhadap outlier, karena outlier hanya akan memengaruhi nilai maksimum atau minimum.
3. Interpretasi:
- Z-score: Hasil normalisasi menunjukkan berapa banyak standar deviasi data di atas atau di bawah rata-rata.
- Min-Max: Hasil normalisasi menunjukkan proporsi data relative terhadap nilai minimum dan maksimum.
4. Kecocokan untuk algoritma:
- Z-score: Cocok untuk algoritma yang didasarkan pada jarak Euclidean, seperti K-Nearest Neighbors (KNN) dan Support Vector Machines (SVM).
- Min-Max: Cocok untuk algoritma yang tidak sensitif terhadap skala data, seperti Naive Bayes dan Decision Trees.

Oleh karena itu penggunaan metode min-max ataupun z-score sebagai metode normalisasi data menyesuaikan dengan dataset yang ingin diolah.